/* header */
#header {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #0000000d;
  z-index: 10;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
#header .hd_top {
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  padding: 14px 0;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .hd_top p {
  font-size: 28px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-weight: normal;
}
#header .hd_wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  transition: all 0.5s ease;
}
#header .hd_wrap .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
#header .hd_wrap .logo img {
  width: 110px;
}
#header .hd_wrap .logo img {
  line-height: 1;
  display: block;
}
#header .hd_wrap .logo img.logoimg_w {
  display: none;
}
#header .hd_wrap .hd_menu {
}
#header .hd_wrap .hd_menu .flex {
  gap: 80px;
  position: relative;
}
#header .hd_wrap .hd_menu ul li.submenu1 {
  font-size: 18px;
  font-weight: 700;
  padding: 30px 0; /* width: 110px; */
  text-align: right;
}
/*#header .hd_wrap .hd_menu ul li.submenu1:last-child{padding-right: 0}*/
#header .menu-container {
  display: none;
  position: fixed;
  top: 0;
  right: -300px; /* 초기에 화면 밖으로 숨겨둠 */
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease; /* 자연스럽게 나타나도록 트랜지션 설정 */
}
#header .menu-icon {
  display: none;
  cursor: pointer;
}
#header .close-btn {
  cursor: pointer;
  font-size: 18px;
}
#main #header {
  background-color: transparent;
  position: fixed;
  border-bottom: 1px solid #ffffff38;
}
#main #header .hd_top {
  background: #fff;
}
#main #header .hd_wrap .hd_menu.pc ul li.submenu1 a {
  color: #fff;
}
#main #header .hd_wrap .logo img.logoimg {
  display: none;
}
#main #header .hd_wrap .logo img.logoimg_w {
  display: block;
}
#header.default {
  transform: translateY(0);
  background: #fff !important;
  position: fixed;
  left: 0;
  right: 0;
}
#header.none {
  transform: translateY(-100%); /* 흰색 배경 색상 */
}
#header:hover {
  background: #fff !important;
}
#header.default .hd_wrap .logo img.logoimg_w {
  display: none !important;
}
#header:hover .hd_wrap .logo img.logoimg_w {
  display: none !important;
}
#header.default .hd_wrap .logo img.logoimg,
#header:hover .hd_wrap .logo img.logoimg {
  display: block !important;
}
#header.default .hd_wrap .hd_menu.pc ul li.submenu1 a,
#header:hover .hd_wrap .hd_menu.pc ul li.submenu1 a {
  color: #111111 !important;
}
#header.default .hd_wrap .hd_menu.pc ul li.submenu1.clicked a,
#header:hover .hd_wrap .hd_menu.pc ul li.submenu1.clicked a {
  color: #b2ddf7 !important;
}
#header .hd_wrap .hd_menu ul li.submenu1 {
  position: relative;
}
#header .hd_wrap .hd_menu ul li.submenu1 > .submenu2 {
  display: none;
  position: absolute;
  top: 110px;
  color: #111;
  width: auto;
  z-index: 10;
  gap: 30px;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#header .hd_wrap .hd_menu ul li.submenu1 > .clicked + .submenu2 {
  display: flex;
  opacity: 1;
}

#header .hd_wrap .hd_menu ul li.submenu1 > .submenu2 ul {
  width: max-content;
  text-align: left;
}
#header .hd_wrap .hd_menu ul li.submenu1 > .submenu2 ul li.submenu2_title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}
#header .hd_wrap .hd_menu ul li.submenu1 > .submenu2 ul li.submenu2_item {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 15px;
}
#header .hd_wrap .hd_menu ul li.submenu1 > .submenu2 ul li.submenu2_item a {
  color: #111 !important;
}
#header
  .hd_wrap
  .hd_menu
  ul
  li.submenu1
  > .submenu2
  ul
  li.submenu2_item:hover
  a {
  color: #0090e3 !important;
}
#header .hd_wrap .hd_menu ul li.submenu1:nth-child(1) > .submenu2 {
  right: -55px;
  transform: translate(50%, 0);
  gap: 0;
}
#header
  .hd_wrap
  .hd_menu
  ul
  li.submenu1:nth-child(1)
  > .submenu2
  ul:nth-child(1) {
  margin-right: 2em;
  width: 102px;
}
#header
  .hd_wrap
  .hd_menu
  ul
  li.submenu1:nth-child(1)
  > .submenu2
  ul:nth-child(2) {
  width: 100px;
}

#header .hd_wrap .hd_menu ul li.submenu1:nth-child(2) > .submenu2 {
  right: 50%;
  transform: translate(50%, 0);
}
#header .hd_wrap .hd_menu ul li.submenu1:nth-child(2) > .submenu2 {
  right: 20px;
  transform: translate(50%, 0);
}
#header .hd_wrap .hd_menu ul li.submenu1:nth-child(3) > .submenu2 {
  right: 50%;
  transform: translate(50%, 0);
  gap: 0;
  right: 80px;
}
#header .hd_wrap .hd_menu ul li.submenu1:nth-child(4) > .submenu2 {
  gap: 0px;
  right: 0px;
}
#header
  .hd_wrap
  .hd_menu
  ul
  li.submenu1:nth-child(4)
  > .submenu2
  ul:nth-child(1) {
  margin-right: 2em;
  width: 106px;
}
#header
  .hd_wrap
  .hd_menu
  ul
  li.submenu1:nth-child(4)
  > .submenu2
  ul:nth-child(2) {
  margin-right: 2em;
  width: 107px;
}
#header
  .hd_wrap
  .hd_menu
  ul
  li.submenu1:nth-child(4)
  > .submenu2
  ul:nth-child(3) {
  margin-right: 2em;
  width: 110px;
}
#header
  .hd_wrap
  .hd_menu
  ul
  li.submenu1:nth-child(3)
  > .submenu2
  ul:nth-child(1) {
  margin-right: 2em;
  width: 106px;
}
#header
  .hd_wrap
  .hd_menu
  ul
  li.submenu1:nth-child(3)
  > .submenu2
  ul:nth-child(2) {
  margin-right: -70px;
  width: 180px;
}
#header #hdOverlay {
  display: none;
  position: absolute;
  top: 149px;
  color: #111;
  background: #fff;
  width: 100%;
  left: 0; /*height: 200px;*/
  z-index: 8;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
#main #header #hdOverlay {
  top: 150px; /*230122 수정*/
}
#header .hd_wrap .hd_menu:hover ul li.submenu1 a {
  color: #b2ddf7 !important;
}
#header:hover .hd_wrap .hd_menu ul li.submenu1.hovered a {
  color: #0090e3 !important;
}
/*#header .hd_wrap .hd_menu ul li.submenu1.hovered:after{content:''; width: 60px; height: 2px; display: block; position: absolute; bottom:0; left:50%; background: #0090E3; z-index: 11; transform: translate(-50%, 0);}*/
#header .underline {
  height: 4px;
  background-color: #0090e3;
  width: 0px;
  position: absolute;
  bottom: 0px;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 10;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.mypage_layout {
  display: flex;
  transition: all 0.5s ease;
  height:  100px;
  background-color: #0090e3;
  color : white;
  font-size: 20px;
  gap : 30px;
  padding : 10px;
}

.sub_mypage_layout {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.mypage_header {
  font-weight: 800;
}

.mypage_sub_header {
  font-weight: 500;
}

.menu_title { font-weight : 900; font-size : 30px; }

.menu_title_container {
  display: flex;
  justify-content: space-between; /* 좌측-우측 분리 */
  align-items: center;
  margin-bottom: 16px;
}

.menu_title_left {
  display: flex;
  align-items: center;
  gap: 8px; /* 아이콘과 텍스트 간격 */
}

.menu_title_right {
  display: flex;
  align-items: center;
  gap: 8px; /* 버튼 간격 */
}


.search_layout {
  float: right;
  margin-bottom: 30px;
}

.searchInput {
  transition: 0.5s ease-in-out;
  border: 1px solid #d9d9d9;
  padding: 17px;
  border-radius: 8px;
  color: black;
  font-size: 14px;
  width:200px;
}

.searchInputReadonly {
  transition: 0.5s ease-in-out;
  border: 1px solid #d9d9d9;
  padding: 17px;
  border-radius: 8px;
  color: #a4a4a4;
  font-size: 14px;
  width:200px;
}

.button_layout {
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

select {
  padding: 17px;
  border-radius: 8px !important;
  font-size: 14px;
  border: 1px solid #d9d9d9; 
  width:250px;
}

.datepickerButton {
  border : 0px;
  background-color: inherit;
}

.login_footer {
    position: fixed;
    left: 0;
    bottom: 0; /* 화면 하단에 딱 붙음 */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background-color: #fff; /* 필요시 배경 색 추가 */
    border-top: 0.3px solid #ccc; /* 구분선 */
    padding: 10px 0;
    z-index: 1000; /* 다른 요소 위에 나오도록 */
}

.tdInput {
  transition: 0.5s ease-in-out;
  border: 1px solid #d9d9d9;
  padding: 17px;
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  width:200px;
}

.tdInputReadonly {
  transition: 0.5s ease-in-out;
  border: 1px solid #d9d9d9;
  background-color: #d8d8d8;
  padding: 17px;
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  width:200px;
}



.button-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  margin-top: 10px; /* 버튼 위 여백 */
}

.content_body {
  width: 100%;
  min-height: 100vh;
  padding: 30px 20px;
  background-color: #FAF9F6;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow-x: auto;
  box-sizing: border-box;
}

.content_body_nogrid {
  width: 100%; /* 화면 가로 80% */
  max-width: 60%; /* 최대 가로 제한 */
  min-height: 70vh; /* 화면 높이의 60% */
  padding: 30px 20px;
  background-color: #FAF9F6;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow-x: auto;
  box-sizing: border-box;

  /* 화면 가운데 정렬 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 8px;
  z-index: 1000; /* 다른 요소 위로 */
}

@media (max-height: 700px) {
  .content_body {
    align-items: flex-start;  /* 위쪽 정렬 */
    padding-top: 20px;        /* 상단 여백 최소화 */
    padding-bottom: 20px;     
  }
}

.table-wrapper {
  width: 100%;
  max-width: 1500px;
  overflow-x: auto; 
  padding: 30px 20px;
  border-radius: 8px;
  background-color: #FAF9F6;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;               /* 페이지 번호 간격 */
  margin-top: 40px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
}

.pagenation a {
  display: inline-block;
  min-width: 36px;
  padding: 8px 12px;
  text-align: center;
  color: #505054;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.pagenation a:hover {
  background-color: #f0f0f0;
  color: #333333;
  transform: scale(1.05);
}

.pagenation p.active a {
  background-color: #333333;
  color: white;
  font-weight: 700;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.right-button-container {
  display: flex;
  justify-content: flex-end; /* 우측 정렬 */
  margin-top: 16px; /* 위쪽 여백 (선택) */
}

/* 기본 라디오 버튼 숨기지 않고, 색상만 커스텀 */
input[type="radio"] {
  accent-color: #333333;
  cursor: pointer;
}

/* hover 효과 */
input[type="radio"]:hover {
  accent-color: #505054;
}

/* 라벨 텍스트 스타일 */
label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin-right: 16px;
}

.agent_result_summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.summary-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.summary-label {
  min-width: 100px; /* 라벨 너비 고정 */
  font-weight: bold;
  font-size: 17px;
  text-align: right; /* 오른쪽 끝에 맞춤 */
}

.summary-bar {
  height: 10px;
  border-radius: 5px;
  /* transition: width 0.3s ease; */
}

.pagination-info-wrapper {
  margin: 10px 0; /* 위아래 10px 여백 */
}

.pagination-info {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #666;
    display: flex;          /* 기존 스타일 안 건드려도 됨 */
  align-items: center;
}

.pagination-info .left {
  flex: 1;                /* 왼쪽 공간 차지 */
}

.pagination-info .right {
  margin-left: auto;      /* 버튼을 맨 오른쪽으로 밀어냄 */
}

.result_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    border-radius: 5px;
}

/* table 관련 */
.result_table th, .result_table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.result_table th {
    background-color: #f2f2f2;
    text-align: center;
      overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.result_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.result_table tbody tr:hover {
    background-color: #f2f2f2;
}

.grid-wrapper {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ececec;
}

.grid {
    width: max-content;
    border-collapse: separate;
    table-layout: fixed;
    min-width: 100%;
}

.grid th, .grid td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
    border-radius: 5px;
}

.grid th {
    background-color: #f2f2f2;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.grid tbody tr:hover {
    background-color: #f2f2f2;
}