.footer-container {
    position: fixed;
    left: 0;
    bottom: 0; /* 화면 하단에 딱 붙음 */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-weight: bold; */
    background-color: #333;
    color: #a3a3a3; font-size: 15px;
    border-top: 0.01px solid #ccc; /* 구분선 */
    padding: 10px 0;
    z-index: 1000; /* 다른 요소 위에 나오도록 */
}

footer {
    margin: 0;
    padding: 0;
}